/* _mainPage.scss */

#secHero {
    position: relative;
    height: 110vh;

    &::after {
        display: block;
        position: absolute;
        inset: 0;
        margin-block-start: auto;
        height: 45vh;
        background-image: linear-gradient(to top, rgb(var(--clr-background)), transparent);
        content: '';
    }
}

#secHotItems {
    height: 300vh;
}

#sliderHero {
    position: relative;
    height: inherit;
}

#slideWrapper {
    height: inherit;
}

.slide-image {
    width: 100%;
    height: 110vh;
}

.slide-item {
    position: relative;
    pointer-events: none;
    user-select: none;
}

.slide-overlay {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: absolute;
    inset: 0;

    &.description {
        &-left {
            justify-content: flex-start;
        }

        &-right {
            justify-content: flex-end;
        }
    }
}

.slide-description {
    width: max(50%, 14rem);
}

.slide-explanation {
    margin-block: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(135deg, rgb(0 0 0 / .75) 0%, transparent 50%);
}

/* _mainPage.scss */