/* _mainPage.scss */

#secHero {
    position: relative;

    &::after {
        display: block;
        position: absolute;
        inset: 0;
        margin-block-start: auto;
        height: 45vh;
        background-image: linear-gradient(to top, rgb(var(--clr-background)), transparent);
        content: '';
    }
}

#secHotItems {
    height: 300vh;
}

/* _mainPage.scss */